@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Web Application 3 - MVC Entity Framework 5</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MVC Entity Framework 5</h2>
        <p>
            ASP.NET MVC Entity Framework 5.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Tutorial</h2>
        <p>MVC Entity Framework 5</p>
        <p><a class="btn btn-default" href="https://www.c-sharpcorner.com/UploadFile/rahul4_saxena/code-first-approach-in-mvc-with-entity-framework-with-primar/">Learn more &raquo;</a></p>
    </div>
 
</div>